<?xml version="1.0" encoding="ISO-8859-1"?>

<beans>

    <bean id="a" class = "FactoryDesignPattern.demo.entity.A">
        <constructor-arg type = "String" value="??"/>
    </bean>

    <bean id="b" class = "FactoryDesignPattern.demo.entity.B">
        <constructor-arg type = "String" value="?????"/>
        <constructor-arg ref="a"/>
    </bean>

</beans>
